<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-4">

        <h1 class="text-center text-primary">
            Dashboard Admin Cuci Sepatu
        </h1>

        <hr>

        <div class="d-grid gap-3">

            <a href="/pelanggan" class="btn btn-primary">
                📋 Data Pelanggan
            </a>

            <a href="/transaksi" class="btn btn-success">
                👟 Data Transaksi
            </a>

            <a href="/pendapatan" class="btn btn-warning">
                💰 Pendapatan
            </a>

            <a href="/logout" class="btn btn-danger">
                Logout
            </a>

        </div>

    </div>

</div>

</body>

</html>